.registerForm {
    width: 300px;
    margin: auto;
    margin-top: 100px;

    .loginInput {
        margin-bottom: 10px;

        input {
            border-radius: 7px;
            border: 1px #d2d2d2 solid;
            width: 290px;
            height: 40px;
            padding: 0 10px 0 10px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 14px;
            margin-top: 5px;
        }

        input:focus {
            outline: none;
            border: 1px gray solid;
        }

        a {
            font-size: 14px;
            color: #696969;
            font-family: BreeCYR-Light;
        }
    }

    .passwordInput {
        margin-bottom: 10px;

        input {
            border-radius: 7px;
            border: 1px #d2d2d2 solid;
            width: 290px;
            height: 40px;
            padding: 0 10px 0 10px;
            margin-top: 5px;
        }

        input:focus {
            outline: none;
            border: 1px gray solid;
        }

        a {
            font-size: 14px;
            color: #696969;
            font-family: BreeCYR-Light;
        }
    }

    .animationError {
        animation: 0.1s tremor ease-out 0.1s;
        -webkit-animation: 0.1s tremor ease-out 0.1s;
        animation-iteration-count: 3;
    }

    .warning {
        font-size: 15px;
        color: red;
        margin: 15px 0 5px 0;
        opacity: 0.75;
        font-family: BreeCYR-Light;
        width: 310px;
    }

    .checkbox {
        margin: 20px 0 5px 0;
        display: flex;

        a {
            margin-left: 5px;
            font-size: 16px;
        }

        .checkboxLabel {
            position: relative;
            display: block;
            height: 20px;
            width: 44px;
            background: #898989;
            border-radius: 100px;
            cursor: pointer;
            transition: all 300ms ease;

            &:after {
                position: absolute;
                left: -2px;
                top: -3px;
                display: block;
                width: 26px;
                height: 26px;
                border-radius: 100px;
                background: lighten(#898989, 30%);
                box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
                content: '';
                transition: all 300ms ease;
            }

            &:active:after {
                transform: scale(1.15, 0.85);
            }
        }

        .checkboxInput {
            display: none;

            &:checked~label {
                background: #008CBA;

                &:after {
                    left: 20px;
                    background: darken(#008CBA, 15%);
                }
            }

            &:disabled~label {
                background: lighten(#898989, 30%);
                pointer-events: none;

                &:after {
                    background: lighten(#898989, 20%);
                    ;
                }
            }
        }

    }

    button {
        border-radius: 5px;
        border: 1px #d2d2d2 solid;
        width: 70px;
        height: 35px;
        background-color: #008CBA;
        color: white;
        margin-top: 5px;
    }


}

@-webkit-keyframes tremor {

    0%,
    25% {
        left: -1px;
        top: -1px;
        -webkit-transform: translateX(-1%);
        transform: translateX(-1%);
    }

    50%,
    100% {
        left: 1px;
        top: 1px;
        -webkit-transform: translateX(1%);
        transform: translateX(1%);
    }
}

@-moz-keyframes tremor {

    0%,
    25% {
        left: -1px;
        -webkit-transform: translateX(-1%);
        transform: translateX(-1%);
    }

    50%,
    100% {
        left: 1px;
        -webkit-transform: translateX(1%);
        transform: translateX(1%);
    }
}

@-ms-keyframes tremor {

    0%,
    25% {
        left: -1px;
        -webkit-transform: translateX(-1%);
        transform: translateX(-1%);
    }

    50%,
    100% {
        left: 1px;
        -webkit-transform: translateX(1%);
        transform: translateX(1%);
    }
}

@-o-keyframes tremor {

    0%,
    25% {
        left: -1px;
        -webkit-transform: translateX(-1%);
        transform: translateX(-1%);
    }

    50%,
    100% {
        left: 1px;
        -webkit-transform: translateX(1%);
        transform: translateX(1%);
    }
}

@keyframes tremor {

    0%,
    25% {
        left: -1px;
        -webkit-transform: translateX(-1%);
        transform: translateX(-1%);
    }

    50%,
    100% {
        left: 1px;
        -webkit-transform: translateX(1%);
        transform: translateX(1%);
    }
}