.comment {
    background-color: black;
    width: 250px;
    min-height: 30px;
    margin: 10px 0 10px 10px;
    opacity: 80%;

    p {
        color: white;
        padding: 5px;
        word-wrap: break-word;
    }
}