.review {
    width: 1215px;
    height: 88px;
    margin: 9px 0;
    padding: 10px 10px 15px 10px;
    font-family: BreeCYR-Light;
    border-bottom: 1px #d2d2d2 solid;

    .reviewContainer {
        display: flex;

        .imageBlock {
            img {
                width: 89px;
                height: 89px;
                box-shadow: 0px 0px 3px 1px gray;
            }
        }

        .valueBlock {
            margin-left: 10px;

            .title {
                h3 {
                    margin: 0;
                }
            }

            .content {
                -webkit-line-clamp: 2;
                line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                color: rgb(103, 103, 103);
                width: 1110px;
                height: 47px;
            }

            .description {
                display: flex;

                .information {
                    .username {
                        color: rgb(255, 79, 237);
                        margin-right: 5px;
                        cursor: pointer;
                    }

                    .time {
                        color: gray;
                        font-size: 14px;
                    }
                }

                .readFull {
                    margin-left: auto;

                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }
}