.review {
    width: 1180px;
    height: 88px;
    margin: 9px 0;
    padding: 10px 10px 15px 10px;
    font-family: BreeCYR-Light;

    .reviewContainer {
        display: flex;

        .imageBlock {
            img {
                width: 89px;
                height: 89px;
                box-shadow: 0px 0px 3px 1px gray;
                cursor: pointer;
            }
        }

        .valueBlock {
            margin-left: 10px;

            .title {
                h3 {
                    margin: 0;
                    font-size: 17px;
                    min-height: 26px;
                    cursor: pointer;
                    width: max-content;
                    -webkit-line-clamp: 1;
                    line-clamp: 1;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    width: 1080px;
                }
            }

            .content {
                -webkit-line-clamp: 2;
                line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                color: rgb(103, 103, 103);
                width: 1080px;
                min-height: 48px;
                height: max-content;
            }

            .description {
                display: flex;

                .information {
                    .username {
                        color: rgb(255, 79, 237);
                        margin-right: 5px;
                    }

                    .time {
                        color: gray;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1295px) {
    .content {
        width: 755px !important;
    }

    .review {
        width: 855px !important;

        .title {
            h3 {
                width: 755px !important;
            }
        }
    }
}

@media screen and (max-width: 970px) {
    .content {
        width: 440px !important;
    }

    .review {
        width: 540px !important;

        .title {
            h3 {
                width: 440px !important;
            }
        }
    }
}