.block {

    display: inline-block;
    width: 100px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    background-color: blueviolet;

    p {
        color: white;
    }

    a { 
        color: gold;
    }

}