.block {

    display: inline-block;
    width: 150px;
    height: 260px;
    padding: 10px;

    p {
        color: white;
        display: inline-block;
        margin-top: 240px;
        margin-left: 10px;
        font-weight: 900;
        text-shadow: 2px 2px 2px black;
    }

    a {
        color: gold;
    }

    img {
        position: absolute;
        width: 150px;
        height: 230px;
    }

}

.block:hover {
    p {
        color: gold;
    }
    img {
        border: solid gold 1px;
    }
}