.addBlock {

    display: inline-block;
    width: 200px;
    height: 150px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    p {
        color: black;
    }
}

.addBlock:hover {
    background-color: gold;
    cursor: pointer;
}