.addBlock {
    width: 200px;
    height: 150px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;

    p {
        color: black;
    }

    button {
        margin: 3px 0 3px 0;
        border: 1px black solid;
        background-color: #0768b5;
        color: white;
    }

    button:hover {
        background-color: gold;
        color: black;
    }
}

.addNewsText {
    width: 190px;
    height: 70px;
}