.reviewContainer {
    background-color: white;
    width: 1236px;
    height: max-content;
    margin: 10px auto;
    border: 1px #d2d2d2 solid;
    padding: 0 10px;
    display: flex;

    .reviewScrollButton {
        .wrapperArrow {
            img {
                width: 35px;
                height: 35px;
            }
        }

        .arrow_top {
            height: 50%;

            img {
                transform: rotate(180deg);
                cursor: pointer;
                margin-top: 28px;
            }
        }

        .arrow_bottom {
            height: 50%;
            position: relative;

            img {
                cursor: pointer;
                margin-top: 126px;
            }
        }
    }
}

.newsCardContainer {
    display: flex;
    justify-content: center;

    .newsContainer {
        width: 966px;
    }

    .informationContainer {
        background-color: #ffffff;
        width: 270px;
        height: 456px;
        margin: 10px;
        padding: 10px;
        border: 1px #d2d2d2 solid;
        border-radius: 5px;
    }
}


@media screen and (max-width: 1295px) {
    .newsContainer {
        width: 644px !important;
    }
    .reviewContainer {
        width: 915px;
    }
}

@media screen and (max-width: 970px) {
    .newsContainer {
        width: 322px !important;
    }
    .reviewContainer {
        width: 595px;
    }
}