body {
    margin: 0;
    background-color: #0768b5;

    .header {
        height: 80px;
        background-color: #005090;
        display: flex;
        position: relative;

        .header_button {
            padding-top: 30px;
            display: flex;
            flex-shrink: 0;
            min-width: 100px;

            .active {
                color: gold;
            }

            .no_active {
                color: white;
            }

            a {
                text-decoration: none;

            }
        }

        .header_button:first-child {
            margin-left: 30px;
        }

        .vertical_line {
            background-color: white;
            width: 1px;
            margin: 0 30px 0 30px;
            flex-shrink: 0;
        }

        .username {
            color: white;
            margin: 0 20px 0 20px;
            padding-top: 30px;
            flex-shrink: 0;
        }
    }
}

body::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

body::-webkit-scrollbar-track {
    background: #005090;
}

body::-webkit-scrollbar-thumb {
    background-color: white;
}