body {
    margin: 0;
}

.header {
    height: 80px;
    background-color: #005090;
    display: flex;
    box-sizing: border-box;

    .header_button {
        padding-top: 30px;
        display: flex;
        flex-direction: column;

        #main {
            padding-left: 30px;
        }

        .active {
            color: gold;
        }

        .no_active {
            color: white;
        }

        a {
            text-decoration: none;
            width: 100px;
        }
    }
}