body {
    margin: 0;
    padding: 0;
    background-color: #F2EAED;

    .imgExit {
        margin-left: 10px;
        cursor: pointer;
    }

    .login {
        color: green;
        margin: 0;
    }

    .header {
        background-color: #edf2ea;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    }
}

body::-webkit-scrollbar {
    width: 5px;
    height: 3px;
}

body::-webkit-scrollbar-track {
    background: #F2EAED;
}

body::-webkit-scrollbar-thumb {
    background-color: #A9A9A9;
    border-radius: 25px;
}