.commentPage {
    width: 30px;
    height: 30px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border: 1px #E6E6E6 solid;
    font-family: BreeCYR-Light;

    a {
        vertical-align: middle;
    }
}