.commentsName {
    h1 {
        padding: 10px;
        color: white;
    }
}

.comments {
    display: flex;

    .textArea {
        padding: 0 10px 10px 10px;

        textarea {
            width: 350px;
            height: 50px;
        }
    }
}

.commentsPages {
    margin: 0 0 10px 10px;

    .notActive {
        background-color: white;
    }

    .active {
        background-color: gold;
    }
}