.block {
    height: fit-content;
    margin: 10px;

    img {
        margin-top: 10px;
    }

    .description{
        max-height: 100px;
        overflow: hidden;
        margin-bottom: 10px;
    }
}