.block {

    display: inline-block;
    width: 200px;
    height: 150px;
    padding: 10px;
    margin: 10px;
    background-color: #005090;
    border: 1px black solid;
    overflow-y: scroll;

    p {
        color: white;
        word-wrap: break-word;
        margin: 10px 5px 0 0;
    }
}

.block::-webkit-scrollbar {
    width: 3px;
}

.block::-webkit-scrollbar-thumb {
    background-color: #0768b5;
}