.block {
    width: 300px;
    margin: 10px;

    .bodyBlock {
        min-height: 100px;
        max-height: 210px;
        overflow-y: auto;

        .postNews {
            margin-left: 8px;
        }
    }


}

.addNews {
    padding: 10px;

    textarea {
        width: 260px;
        margin: auto;
    }

    button {
        margin: 10px 0 0 8px;
        width: 100px;
    }
}

.bodyBlock::-webkit-scrollbar {
    width: 3px;
}

.bodyBlock::-webkit-scrollbar-thumb {
    background-color: #F2EAED;
}